.navbar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 6rem;
    font-size: 20px;
    z-index: 1;
    /* border: solid red 1px; */
}
.scrolling {
    background-color: rgba(0, 0, 0, 0.822);
    transition: all 1s ease;
}
.navbar-logo {
    width: 45%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.navbar-flags {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: solid 1px red; */
}
.navbar-iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
    width: 45%;
   /*  border: solid rgb(14, 57, 177) 1px; */
}
.flag {
    width: 3.4rem;
    margin: 0 6px 15px 6px ;
    border-radius: 10px;
}

#bio {
    width: 5rem;
    margin: 0 1rem;
    text-align: center;
    cursor: pointer;
    /* border: solid rgb(255, 251, 0) 1px; */
}
#bio:hover {
    cursor: pointer;
    border-bottom: solid 3px white;
}
#bio img {
    width: 3rem;
}


@media screen and (max-width: 750px) { 
    .navbar-logo {
        width: 1%;
        height: 6.5rem;
        padding-left: 0rem;
        color: transparent;
    }
    .navbar-flags {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: solid 1px red; */
    }
    .navbar-iconos {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        width: 79%;
        /* border: solid rgb(14, 57, 177) 1px; */
    }
    #bio {
        width: 3.5rem;
        margin: 0.7rem 0.7rem 0 0.7rem;
        text-align: center;
        cursor: pointer;
        /* border: solid rgb(255, 251, 0) 1px; */
    }

}

@media screen and (max-width: 480px) { 
    #bio {
        width: 2.6rem;
        margin: 0.7rem 0.7rem 0 0.7rem;
        text-align: center;
        cursor: pointer;
        /* border: solid rgb(255, 251, 0) 1px; */
    }
    #bio img {
        width: 2rem;
    }
    .navbar-flags {
        padding-left: 35px;
    }
}

